/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.item {
	-fx-border-radius: 5px;
	-fx-background-radius: 15px;
	-fx-background-color: rgba(149, 238, 245, 0.5);
}
.item-name {
	-fx-font-weight: bold;
}
.item-bandat {
    -fx-background-color: WHITE;
    -fx-background-radius: 15px;
}
.button {
	-fx-text-fill: WHITE;
	-fx-background-radius: 50px;
}
.button FontAwesomeIconView {
	-fx-fill: WHITE;
}
.button-sua {
	-fx-background-color: #15b33f;
}
.button-huy {
    -fx-background-color: #ba0b2b;
}
.button-chitiet {
     -fx-background-color: #DACE00;
}
.blur, .pane-background {
    -fx-background-radius: 15px;
	-fx-background-color: rgba(255, 255, 255 , 0);
}
.blur:hover {
	-fx-cursor: hand;
	-fx-background-color: rgba(227, 216, 218, 0.5);
}
.pane-item {
    -fx-background-radius: 15px 15px 0 0;
    -fx-background-color: #fff;
}
.pane-item-footer {
    -fx-background-radius: 0 0 15px 15px;
    -fx-background-color: rgba(166, 0, 30, 1);
}
.status {
    -fx-text-fill: WHITE;
    -fx-background-radius: 5px;
}
.status-paid {
    -fx-background-color: rgba(82, 252, 3, 1);
}
.status-unpaid {
    -fx-background-color: rgba(47, 181, 179, 1);
}
.status-cancel {
    -fx-background-color: rgba(189, 26, 26, 1);
}
